/* .chat-input-container {
  padding-top: 15px;
} */
.container-input-and-buttons {
  padding-top: 15px;
  margin: auto;
  display: flex;
}
.chat-input {
  flex-grow: 1;
  font-size: 14px;
  padding: 12px 14px;
  border-radius: 12px;
  border: 2px solid #ccc;
}
.chat-send-button {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 12px;
  margin-left: 8px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(72, 232, 178);
}
.img-loading {
  width: 40px;
  margin: -15px 0;
}
.clear-button {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 12px;
  margin-left: 8px;
  cursor: pointer;
  border: none;
  color: black;
  background-color: #ccc;
}
.btn-move-textbox{
  text-decoration-line: underline;
  color: rgb(72, 232, 178);
  cursor: pointer;
  background-color: white;
  width: 100%;
  text-align: center;
}
.top-textbox {
  max-width: 600px;
  width: 100%;
  padding-bottom: 15px;
  top: 0;
  position: fixed;
  background-color: white;
  text-align: center;
}
.mt {
  padding-top: 50px;
}