.btn-submit{
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  margin-right: 5px;
  font-size: 14px;
  margin-top: 10px;
}
.inputEmail, .inputPassword{
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #ccc;
  width: 250px;
  margin-bottom: 10px;
}
.inputPassword{
  margin-right: 10px;
}
.button-click{
  margin-top: 20px;
}
.button-click button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(25, 135, 84);
  color: white;
}